<div class="wrapper">
    <div class="menuItem"></div>
    <div class="menuItem dashboard-item">
      <i class="fa fa-chart-line"></i>
      <div class="dashboard-sub-menu">
          <ul>
              <li>Dashboard 1</li>
              <li>Dashboard 2</li>
              <li>Dashboard 3</li>
              <li>Dashboard 4</li>
              <li>Dashboard 5</li>
              <li>Dashboard 6</li>
              <li>Dashboard 7</li>
              <li>Dashboard 8</li>
              <li>Dashboard 9</li>
              <li>Dashboard 10</li>
          </ul>
          <div class="add-dashboard-form">
            <div id="addTxt">Add dashboard</div>
            <input class="hide-element" type="text" placeholder="Dashboard name">
            <button class="hide-element"><i class="fa fa-plus"></i></button>
          </div>
        </div>
    </div>
    <div class="menuItem"><i class="fa fa-search"></i></div>
    <div class="menuItem"><i class="fa fa-sign-out-alt"></i></div>
    <div class="menuArrow"><i class="fa fa-caret-right"></i></div>
</div>
