<div class="wrapper">
    <div class="menuItem dashboard-logo"></div>
    <div class="menuItem dashboard-item">
        <i class="fa fa-chart-line"></i>
        <div class="dashboard-sub-menu">
            <ul>
                <a *ngFor="let dashboard of dashboards | keyvalue" routerLink="/dashboard/{{dashboard.key}}">
                    <li>{{dashboard.value.name}}</li>
                </a>
            </ul>
            <div class="add-dashboard-form">
                <div id="addTxt" *ngIf="!addDashboard" (click)="addDashboard = true">Add dashboard</div>
                <input type="text" placeholder="Dashboard name" [(ngModel)]="newDashboardName" *ngIf="addDashboard">
                <button *ngIf="addDashboard" (click)="addNewDashboard()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <a routerLink="/query"><div class="menuItem"><i class="fa fa-search"></i></div></a>
    <div class="menuItem"><i class="fa fa-sign-out-alt"></i></div>
    <div class="menuArrow"><i class="fa fa-caret-right"></i></div>
</div>