.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 20px;
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.dashboard-element{
    position: relative;
    background: #353c48;
    border: solid 1px #707070;
    padding: 5px;
    min-height: 250px;
}

.small{
    grid-column-start: auto;
    grid-column-end: span 3;
}

.medium{
    grid-column-start: auto;
    grid-column-end: span 6;
}

.large{
    grid-column-start: auto;
    grid-column-end: span 9;
}

#plusImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 59px;
    height: 59px;
  }

  .dashboardPresentation{
      position: relative;
      padding: 5px 0;
  }

  .dashboardPresentation > div{
      text-align: center;
      color: #81889F;
      font-size: 1.5em;
      font-weight: bold;
  }

  #dashboardName{
    vertical-align: middle;
    margin-right: 5px;
  }

  #editBtn{
    border: 1px solid #A8A8A8;
    border-radius: 5px;
    color: #2B2F3A;
    background-color: #d69e54; 
    font-size: 0.7em;
  }

  .edit{
      height: 40px;
      position: relative;
      padding: 5px 0;
  }

  .edit input{
      width: auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      box-sizing: border-box;
      border: 1px solid #707070;
      border-radius: 4px;
      font-size: 1.5em;
      color: #353c48;
      background: #81889F;
      text-align: center;
  }

  .operationBtns{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
  }

  #saveBtn{
    height: auto;
    margin-left: 5px;
    background-color: rgb(80, 177, 144);
    border: 1px solid #A8A8A8;
    border-radius: 5px;
    color: #353c48;
    font-size: 1.0em;
  }

  #cancelBtn {
    height: auto;
    margin-left: 5px;
    background-color: rgb(212, 142, 95);
    border: 1px solid #A8A8A8;
    border-radius: 5px;
    color: #353c48;
    font-size: 1.0em;
  }

  #deleteBtn{
    height: auto;
    margin-left: 5px;
    background-color: #B15055;
    border: 1px solid #A8A8A8;
    border-radius: 5px;
    color: #353c48;
    font-size: 1.0em;
  }

  .editMode{
      position: absolute;
      top: 0;
      right: 0;
  }

  .editMode button{
    margin: 3px;
    width: 30px;
    height: 25px;
    border: 1px solid #353c48;
    border-radius: 5px;
  }

  .trashBtn{
    background-color: rgb(233, 102, 102);  
    font-size: 0.9em;
  }

  .editBtn{
    background-color: rgb(235, 169, 83); 
    font-size: 0.9em;
  }
  
  .rulerBtn{
    background-color: rgb(47, 224, 255);
    position: relative; 
    font-size: 0.9em;
  }

  .rulerBtn:hover .sizeMenu{
      display: block;
  }

  .sizeMenu{
    display: none;
    position: absolute;
    background-color: rgb(47, 224, 255);
    border: 1px solid rgb(47, 224, 255);
    border-radius: 3px;
    top: 24px;
    left: 50%;
    padding: 3px;
    transform: translate(-50%, 0);
  }

  .sizeMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sizeMenu ul li label{
    display: flex;
    padding: 2px;
  }

  .sizeMenu input{
      vertical-align: center;
      padding: 0;
      margin-right: 7px;
  }

  .invalid{
      border: 1px solid red !important;
  }
