<div class="wrapper">
        <div class="editor request-editor" ace-editor [(text)]="request" [mode]="'json'" [theme]="'solarized_dark'" [options]="options">
            <div id="preset">
                    <select (change)="presetClick($event.target.value)">
                        <option value="" disabled selected>PRESET</option>
                        <option *ngFor="let query of queries" [value]='query.key'>{{query.displayName}}</option>
                    </select>
                </div>
                <button id="sendBtn" (click)="sendRequest()">SEND <span class="fa fa-paper-plane"></span></button>
        </div>
    <div class="editor" ace-editor [(text)]="response" [mode]="'json'" [theme]="'solarized_dark'" [options]="options" [readOnly]="true!"></div>
    
</div>