<div class="wrapper">
  <div class="element-properties">
    <select (change)="type = $event.target.value">
      <option value="type" disabled selected>Type</option>
      <option value="pie">Pie chart</option>
      <option value="bar">Bar chart</option>
    </select>
    <label>Field</label>
    <select (change)="field = $event.target.value">
        <option value="field" disabled selected>Field</option>
        <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
    </select>
    <label>Order by</label>
    <select (change)="orderBy = $event.target.value">
        <option value="_count" selected>Count</option>
        <option value="_key">Alphabetically</option>
    </select>
    <select (change)="order = $event.target.value">
        <option value="asc">Ascending</option>
        <option value="desc" selected>Descending</option>
    </select>
    <button id="refreshBtn" (click)="refreshPreview()">REFRESH <span class="fa fa-redo-alt"></span></button>
    <button id="saveBtn" (click)="saveElement()">SAVE <span class="fa fa-save"></span></button>
  </div>
  <div class="element-presentation">
    <div echarts [options]="chartOption"></div>
  </div>
</div>